.header {
position: fixed;
width: auto;
padding-top: 20px;
background: #hsla(360, 100%, 100%, 0.5);


}

body  {

background-color: #d3d3d3

}

.navigation ul {
  display: inline;
  float: right;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 19px;

}

li  {
list-style-type: none;

}

h1  {

  font-style: italic;
  font-size: 66px;
text-align: center;
  color: #450000;

}

 p  {

font-size: 33px;
font-style: italic;
text-align: center;

}
