
body  {

background-color: #d3d3d3

}

.header {
position: fixed;
width: auto;
padding-top: 20px;
background: #hsla(360, 100%, 100%, 0.5);


}
.navigation ul {
  display: inline;
  float: right;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 19px;

}

li  {
list-style-type: none;

}

h1  {



}

 p  {



}
