
body  {

background-color: #d3d3d3

}


ul {
  display: block;
  width: 100%;
list-style-type: none;
background-color: #800000;
}

li  {
float: right;
margin: 17px;
padding: 11px;

}

h1  {



}
p  {

color: #ffc;
background-color: #900;
font-size: 2em;
margin: 0;
margin-bottom: 6px;
padding: 3px;
font-style: italic;
text-align: center;
letter-spacing: 0.7em;

}
